<div class="main-content " id="addQuestion" style="margin-top: 2%;">
  <div class="container-fluid">
      <div class="row text-center">
          <div class="col-md-4"></div>
          <div class="col-md-4">
                <div *ngIf='error' class="alert" role="alert">
                        <strong>Error: </strong> Invalid Username or Password  !
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
              <div class="card text" style="border-radius: 0px;">
                  <div class="card-header ">
                      <!-- Add logo here -->
                      <!-- <img src="#" width="35%" style="padding-top: 8%;"> -->
                      
                      
                  </div>
                  <div class="card-body" >
                    <h4 class="" style="font-weight: 700;color: rgba(0,0,0,0.87);padding-bottom: 3%;font-size: 24px;font-family: Lato;">Sign in<br><span style="font-weight: 500;font-size: 16px"></span></h4>
                     <!-- start form control -->
                      <form style="padding: 0 8% 0 8%;" [formGroup]='login' (ngSubmit)='onSubmit()'>
                          <div class="row " >
                              
                              <div class="col-md-12">
                                  
                                  <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="Username" formControlName='username'>
                                  </mat-form-field>
                              </div>
                              
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                               
                                <mat-form-field appearance="outline" class="example-full-width">
                                   <mat-label>Password</mat-label>
                                   <input matInput placeholder="Password" type="{{passwordField}}" formControlName='password'>
                                   <mat-icon matSuffix class="text-muted" (click)="passwordFieldToggle()">{{iconPassword}}</mat-icon>
                                </mat-form-field>
                              </div>
                              
                          </div>
                          
                          <button  type="submit" class="btn btn-danger" [disabled]='!login.valid'>Login</button>
                          
                          <div class="clearfix"></div>
                          <p style="font-size: 12px;padding-top: 10px;font-weight: 400"><a class="forgotPass" href="#" style="font-weight: 900;">Forgot your Password ?</a><br>Contact system administrator.</p>
                          <p style="font-size: 14px;padding-top: 10px;font-weight: 400"><a routerLink = '/register' style="font-weight: 900;">Create Account</a></p>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4"></div>
      </div>
  </div>
</div>
